.jumbotron {
    background-image: url(../images/stars.jpg);
    background-size: cover;
    color: white;
    margin-bottom: 20px;
}

 body {
    background-image: url(../images/galaxy.jpg);
    background-repeat: round;

} 

canvas {
    display:block;
    position: fixed;
    z-index: -1;
}
#body-particles {
    position: absolute;
}

.asteroid {
    color: white;
}

th,td,#date,#distance {
    text-align: left;
}